@model UserSignInViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Register</title>

    <link href="/inspinia-gh-pages/css/bootstrap.min.css" rel="stylesheet">
    <link href="/inspinia-gh-pages/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/inspinia-gh-pages/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/inspinia-gh-pages/css/animate.css" rel="stylesheet">
    <link href="/inspinia-gh-pages/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">IN+</h1>

            </div>
            <h3>Login</h3>
            <p>Create account to see it in action.</p>
            <form class="m-t" role="form" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1 mb-2">Kullanıcı Adınız</label>
                    <input type="text" class="form-control" asp-for="@Model.username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1 mb-2">Password</label>
                    <input type="password" asp-for="@Model.password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                </div>
                @*<div class="form-group">
                        <span asp-validation-for="@Model.UserName" class="text-danger"></span>

                        <input type="text" class="form-control" asp-for="@Model.UserName" placeholder="NickName" required="">
                    </div>


                    <div class="form-group">
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>

                        <input type="email" class="form-control" asp-for="@Model.Email" placeholder="Email" required="">
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>

                        <input type="password" class="form-control" asp-for="@Model.Password" placeholder="Password" required="">
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>

                        <input type="password" class="form-control" asp-for="@Model.ConfirmPassword" placeholder="Confirm Password" required="">
                    </div>*@



                <div class="form-group">
                    <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b" onclick="myfunction()">Login</button>

                <p class="text-muted text-center"><small>Already have an account?</small></p>
                <button class="btn btn-sm btn-white btn-block" href="/RegisterUser/Login">Login</button>
                <button class="btn btn-sm btn-white btn-block" href="/">HomePage</button>
                <div class="text-danger" asp-validation-summary="ModelOnly">

                </div>
            </form>


        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/inspinia-gh-pages/js/jquery-3.1.1.min.js"></script>
    <script src="/inspinia-gh-pages/js/popper.min.js"></script>
    <script src="/inspinia-gh-pages/js/bootstrap.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- iCheck -->
    <!--<script src="/inspinia-gh-pages/js/plugins/iCheck/icheck.min.js"></script>
    <script>
    $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });</script>
    <script>
        function myfunction() {
            swal("Nice!", "You have successfully registered!", "success");

        }
    </script>-->
</body>

</html>
